.DS_Store
*.swp
*.swo
*.pyc
*.mo
logs/*.log
bitcool/static/dist/
bitcool/local_settings.py
ws/local_settings.js
/static/
node_modules/
bin/dws/db/
bin/dws/logs/
bin/dws/config.py
/nginx.conf
.build.js
dist
venv
*.rdb

*.idea
/data/log
